__pycache__/
*.py[cod]

.venv/

.instance/
.mypy_cache/
.ruff_cache/

dist/

*.log

# You can get more comprehensive list with:
# curl -s -o .gitignore -O https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore