__pycache__/
*.py[cod]
.venv/
venv/

.instance
.coverage
.mypy_cache/

*.log

# You can get more comprehensive list with:
# curl -s -o .gitignore -O https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore